In [ ]:
import xtdata as xt
data=xt.getStockDataAndDownload(stock_list=["000002.SZ","301611.SZ"],period="1d",start_time="19991205",end_time="20241105",fill_data=False,forceDownLoad=True,dividend_type="none")
# data=xtdata.get_market_data(field_list=[], stock_list=["301611.SZ"],period="1m",start_time="20221205",end_time="20231205",fill_data=False)
data["301611.SZ"]

In [ ]:
data["000002.SZ"]["20191220":"20241128"].to_csv("数据.csv")

In [ ]:
from xtquant import xtdata
import xtdata_utils
stocks = xtdata.get_stock_list_in_sector('沪深A股')  
data=xtdata_utils.getStockDataAndDownload(stock_list=stocks,period="1d",start_time="20150605",end_time="",fill_data=False,forceDownLoad=False,dividend_type="none")
# data=xtdata.get_market_data(field_list=[], stock_list=["301279.SZ"],period="1m",start_time="20230605",end_time="20240605",fill_data=False)
data

In [ ]:
from xtquant import xtdata
xtdata.download_history_data2(stock_list=stocks,
                    period="5m",start_time="20170101",end_time="",callback=lambda data:print(data),incrementally = True
                )

In [ ]:
from xtquant import xtdata
import xtdata_utils
stocks = xtdata.get_stock_list_in_sector('沪深A股')  
data=xtdata_utils.getStockDataAndDownload(stock_list=stocks,period="1d",start_time="20150605",end_time="",fill_data=False,forceDownLoad=False,dividend_type="none")
# data=xtdata.get_market_data(field_list=[], stock_list=["301279.SZ"],period="1m",start_time="20230605",end_time="20240605",fill_data=False)
data

In [ ]:
existing_data = xtdata.get_market_data(
                    field_list=["open", "high", "low", "close", "volume", "amount", "preClose"],stock_list=stocks,
                    period="1d",start_time="20150605",end_time="",fill_data=False,dividend_type="none"
                )

In [10]:
from pandas import DataFrame
import pandas as pd

def coverBatchStockToDataFrame(data:DataFrame):
    data={}
    for item in existing_data["close"].T.columns:
        result = pd.concat([
            existing_data["open"].loc[item], 
            existing_data["high"].loc[item],
            existing_data["close"].loc[item],
            existing_data["volume"].loc[item],
            existing_data["amount"].loc[item],
            existing_data["preClose"].loc[item]], axis=1,keys=["open", "high", "low", "close", "volume", "amount", "preClose"])
        data[item]=result
    return data

In [ ]:
stocks = xtdata.get_stock_list_in_sector('沪深A股')  
existing_data = xtdata.get_market_data(
                    field_list=["open", "high", "low", "close", "volume", "amount", "preClose"],stock_list=stocks,
                    period="1d",start_time="20150605",end_time="",fill_data=False,dividend_type="back"
                )
data=coverBatchStockToDataFrame(existing_data)
data

***** xtdata连接成功 *****
服务信息: None
服务地址: None
数据路径: None
设置xtdata.enable_hello = False可隐藏此消息

{'601882.SH':            open   high    low  close      volume  amount
 20150605    NaN    NaN    NaN      0         NaN     NaN
 20150608    NaN    NaN    NaN      0         NaN     NaN
 20150609    NaN    NaN    NaN      0         NaN     NaN
 20150610    NaN    NaN    NaN      0         NaN     NaN
 20150611    NaN    NaN    NaN      0         NaN     NaN
 ...         ...    ...    ...    ...         ...     ...
 20241125  21.96  22.25  21.92  26235  57413015.0   21.88
 20241126  21.85  21.96  21.49  32502  70240746.0   21.92
 20241127  21.49  22.36  22.30  38300  83079547.0   21.49
 20241128  22.17  22.28  21.81  24234  53260211.0   22.30
 20241129  22.01  22.87  22.45  40863  91165738.0   21.81

 [2307 rows x 6 columns],
 '603995.SH':            open   high    low  close      volume  amount
 20150605    NaN    NaN    NaN      0         NaN     NaN
 20150608    NaN    NaN    NaN      0         NaN     NaN
 20150609    NaN    NaN    NaN      0         NaN     NaN
 20150610    NaN    NaN    NaN      0         NaN     NaN
 20150611    NaN    NaN    NaN      0         NaN     NaN
 ...         ...    ...    ...    ...         ...     ...
 20241125  18.60  18.80  18.66  24531  45643625.0   18.42
 20241126  18.68  18.75  18.47  20567  38143792.0   18.66
 20241127  18.40  18.88  18.85  31800  58933386.0   18.47
 20241128  18.85  19.08  18.98  28090  53215168.0   18.85
 20241129  18.95  19.44  19.19  25951  49801601.0   18.98

 [2307 rows x 6 columns],
 '688720.SH':            open   high    low  close       volume  amount
 20150605    NaN    NaN    NaN      0          NaN     NaN
 20150608    NaN    NaN    NaN      0          NaN     NaN
 20150609    NaN    NaN    NaN      0          NaN     NaN
 20150610    NaN    NaN    NaN      0          NaN     NaN
 20150611    NaN    NaN    NaN      0          NaN     NaN
 ...         ...    ...    ...    ...          ...     ...
 20241125  46.89  47.20  45.80  15800   72368027.0   45.21
 20241126  45.96  46.50  43.92  15367   68599573.0   45.80
 20241127  43.35  44.93  44.83  20259   87372769.0   43.92
 20241128  44.52  46.30  44.77  17793   80445760.0   44.83
 20241129  44.00  46.99  46.51  22232  100839602.0   44.77

 [2307 rows x 6 columns],
 '601128.SH':           open  high   low   close       volume  amount
 20150605   NaN   NaN   NaN       0          NaN     NaN
 20150608   NaN   NaN   NaN       0          NaN     NaN
 20150609   NaN   NaN   NaN       0          NaN     NaN
 20150610   NaN   NaN   NaN       0          NaN     NaN
 20150611   NaN   NaN   NaN       0          NaN     NaN
 ...        ...   ...   ...     ...          ...     ...
 20241125  7.38  7.47  7.34  263668  193936870.0    7.38
 20241126  7.34  7.50  7.47  275142  203766191.0    7.34
 20241127  7.45  7.54  7.51  217424  162186164.0    7.47
 20241128  7.51  7.54  7.50  191442  143414608.0    7.51
 20241129  7.52  7.67  7.61  319272  243071623.0    7.50

 [2307 rows x 6 columns],
 '600740.SH':            open   high    low   close       volume  amount
 20150605  11.62  11.75  11.38  502015  574223749.0   11.30
 20150608  11.35  11.55  11.30  362254  409539952.0   11.38
 20150609  11.13  11.80  11.49  487104  556123715.0   11.30
 20150610  11.29  11.64  11.35  320715  366384556.0   11.49
 20150611  11.29  11.49  11.37  301791  341146915.0   11.35
 ...         ...    ...    ...     ...          ...     ...
 20241125   4.19   4.24   4.21  183257   76712106.0    4.19
 20241126   4.19   4.22   4.16  175689   73381815.0    4.21
 20241127   4.15   4.17   4.17  204054   83758394.0    4.16
 20241128   4.16   4.20   4.18  135402   56526912.0    4.17
 20241129   4.16   4.23   4.20  170724   71526206.0    4.18

 [2307 rows x 6 columns],
 '603909.SH':           open  high   low  close      volume  amount
 20150605   NaN   NaN   NaN      0         NaN     NaN
 20150608   NaN   NaN   NaN      0         NaN     NaN
 20150609   NaN   NaN   NaN      0         NaN     NaN
 20150610   NaN   NaN   NaN      0         NaN     NaN
 20150611   NaN   NaN   NaN      0         NaN     NaN
 ...        ...   ...   ...    ...         ...     ...
 20241125  9.25  9.42  9.39  22621  21062955.0    9.15
 20241126  9.40  9.46  9.27  19516  18215006.0    9.39
 20241127  9.33  9.35  9.34  17933  16407098.0    9.27
 20241128  9.30  9.50  9.44  24997  23571596.0    9.34
 20241129  9.44  9.66  9.59  29019  27766825.0    9.44

 [2307 rows x 6 columns],
 '600734.SH':           open  high   low    close       volume  amount
 20150605   NaN   NaN   NaN        0          NaN     NaN
 20150608   NaN   NaN   NaN        0          NaN     NaN
 20150609   NaN   NaN   NaN        0          NaN     NaN
 20150610   NaN   NaN   NaN        0          NaN     NaN
 20150611   NaN   NaN   NaN        0          NaN     NaN
 ...        ...   ...   ...      ...          ...     ...
 20241125  4.11  4.31  4.23  1565492  658847711.0    4.21
 20241126  4.25  4.31  3.98  1451042  600777518.0    4.23
 20241127  3.89  4.00  3.98  1048077  411435798.0    3.98
 20241128  3.98  4.10  3.99   898581  360642604.0    3.98
 20241129  4.01  4.30  4.12  1270079  525076333.0    3.99

 [2307 rows x 6 columns],
 '600642.SH':            open   high    low    close        volume  amount
 20150605  13.16  14.10  13.47  2107869  2.858062e+09   12.89
 20150608  13.39  13.53  13.21  1695289  2.221680e+09   13.47
 20150609  13.22  14.09  13.99  2108741  2.860861e+09   13.21
 20150610  13.58  13.79  13.44  1358531  1.835420e+09   13.99
 20150611  13.45  13.58  13.13  1220702  1.605076e+09   13.44
 ...         ...    ...    ...      ...           ...     ...
 20241125   8.22   8.31   8.19   247739  2.025552e+08    8.24
 20241126   8.16   8.23   8.16   117351  9.602323e+07    8.19
 20241127   8.15   8.24   8.23   189433  1.546177e+08    8.16
 20241128   8.20   8.24   8.17   126723  1.037804e+08    8.23
 20241129   8.16   8.32   8.20   226554  1.869986e+08    8.17

 [2307 rows x 6 columns],
 '600259.SH':            open   high    low   close        volume  amount
 20150605  68.00  73.08  73.08  260022  1.875419e+09   66.44
 20150608  72.39  72.50  70.46  147467  1.043408e+09   73.08
 20150609  68.98  71.79  69.79   90107  6.322170e+08   70.46
 20150610  68.86  69.50  68.22   84206  5.743220e+08   69.79
 20150611  68.10  70.50  68.31   74266  5.124978e+08   68.22
 ...         ...    ...    ...     ...           ...     ...
 20241125  30.52  31.35  30.66   79212  2.432620e+08   30.52
 20241126  30.63  31.25  30.00   59044  1.797681e+08   30.66
 20241127  29.80  30.17  30.15   54233  1.596842e+08   30.00
 20241128  30.10  30.26  29.55   39475  1.177538e+08   30.15
 20241129  29.58  30.15  29.92   45706  1.361436e+08   29.55

 [2307 rows x 6 columns],
 '605298.SH':            open   high    low  close      volume  amount
 20150605    NaN    NaN    NaN      0         NaN     NaN
 20150608    NaN    NaN    NaN      0         NaN     NaN
 20150609    NaN    NaN    NaN      0         NaN     NaN
 20150610    NaN    NaN    NaN      0         NaN     NaN
 20150611    NaN    NaN    NaN      0         NaN     NaN
 ...         ...    ...    ...    ...         ...     ...
 20241125  13.80  14.10  14.05  28371  39318924.0   13.80
 20241126  14.04  14.25  14.00  16108  22632285.0   14.05
 20241127  13.84  14.02  13.99  24088  33144465.0   14.00
 20241128  13.88  14.00  13.71  21379  29561751.0   13.99
 20241129  13.71  13.71  13.43  39447  52472184.0   13.71

 [2307 rows x 6 columns],
 '601968.SH':           open  high   low  close      volume  amount
 20150605   NaN   NaN   NaN      0         NaN     NaN
 20150608   NaN   NaN   NaN      0         NaN     NaN
 20150609   NaN   NaN   NaN      0         NaN     NaN
 20150610   NaN   NaN   NaN      0         NaN     NaN
 20150611  4.44  4.44  4.44    433    192252.0    3.08
 ...        ...   ...   ...    ...         ...     ...
 20241125  5.31  5.39  5.35  51806  27583484.0    5.32
 20241126  5.35  5.38  5.29  55434  29460757.0    5.35
 20241127  5.29  5.34  5.33  76245  39974733.0    5.29
 20241128  5.32  5.37  5.33  70629  37702822.0    5.33
 20241129  5.31  5.48  5.43  99156  53739809.0    5.33

 [2307 rows x 6 columns],
 '600636.SH':            open   high    low   close        volume  amount
 20150605  22.51  23.53  23.45  309103  7.086763e+08   22.28
 20150608  23.50  24.58  24.40  359988  8.537022e+08   23.45
 20150609  24.95  26.80  26.15  435146  1.103192e+09   24.40
 20150610  26.16  27.49  25.91  324774  8.500131e+08   26.15
 20150611  25.52  26.58  26.33  252462  6.557765e+08   25.91
 ...         ...    ...    ...     ...           ...     ...
 20241125  10.20  10.41  10.33   80125  8.181449e+07   10.22
 20241126  10.33  10.68  10.34   93583  9.807740e+07   10.33
 20241127  10.32  10.92  10.89  142091  1.493176e+08   10.34
 20241128  10.90  11.23  10.74  193161  2.109296e+08   10.89
 20241129  10.73  10.91  10.83  124882  1.339721e+08   10.74

 [2307 rows x 6 columns],
 '688239.SH':            open   high    low  close      volume  amount
 20150605    NaN    NaN    NaN      0         NaN     NaN
 20150608    NaN    NaN    NaN      0         NaN     NaN
 20150609    NaN    NaN    NaN      0         NaN     NaN
 20150610    NaN    NaN    NaN      0         NaN     NaN
 20150611    NaN    NaN    NaN      0         NaN     NaN
 ...         ...    ...    ...    ...         ...     ...
 20241125  39.52  39.95  39.14  17773  69150110.0   39.59
 20241126  38.74  39.67  38.48  11696  45632635.0   39.14
 20241127  38.44  39.76  39.70  21521  83110949.0   38.48
 20241128  39.50  39.99  39.28  12340  48673134.0   39.70
 20241129  38.29  40.38  39.94  19793  78259767.0   39.28

 [2307 rows x 6 columns],
 '688622.SH':            open   high    low  close       volume  amount
 20150605    NaN    NaN    NaN      0          NaN     NaN
 20150608    NaN    NaN    NaN      0          NaN     NaN
 20150609    NaN    NaN    NaN      0          NaN     NaN
 20150610    NaN    NaN    NaN      0          NaN     NaN
 20150611    NaN    NaN    NaN      0          NaN     NaN
 ...         ...    ...    ...    ...          ...     ...
 20241125  40.22  48.53  48.53  33671  153668857.0   40.44
 20241126  50.20  57.30  53.46  44873  236547085.0   48.53
 20241127  50.49  57.77  54.60  33012  175139161.0   53.46
 20241128  54.99  58.50  53.53  32872  182909552.0   54.60
 20241129  53.00  55.57  54.92  22804  122857375.0   53.53

 [2307 rows x 6 columns],
 '603897.SH':            open   high    low   close       volume  amount
 20150605    NaN    NaN    NaN       0          NaN     NaN
 20150608    NaN    NaN    NaN       0          NaN     NaN
 20150609    NaN    NaN    NaN       0          NaN     NaN
 20150610    NaN    NaN    NaN       0          NaN     NaN
 20150611    NaN    NaN    NaN       0          NaN     NaN
 ...         ...    ...    ...     ...          ...     ...
 20241125  21.11  21.78  21.33   40284   85852310.0   21.29
 20241126  21.34  22.60  22.31  119193  264149594.0   21.33
 20241127  22.18  22.49  22.39   66655  147302107.0   22.31
 20241128  22.32  22.35  21.84   45327   99897843.0   22.39
 20241129  21.82  22.73  22.32   57495  128086655.0   21.84

 [2307 rows x 6 columns],
 '688656.SH':             open    high     low  close       volume  amount
 20150605     NaN     NaN     NaN      0          NaN     NaN
 20150608     NaN     NaN     NaN      0          NaN     NaN
 20150609     NaN     NaN     NaN      0          NaN     NaN
 20150610     NaN     NaN     NaN      0          NaN     NaN
 20150611     NaN     NaN     NaN      0          NaN     NaN
 ...          ...     ...     ...    ...          ...     ...
 20241125  141.50  148.30  148.00  19871  286300071.0  137.00
 20241126  148.00  165.21  136.55  27861  426284782.0  148.00
 20241127  135.01  146.70  144.97  27677  388064725.0  136.55
 20241128  151.44  152.10  140.00  26723  377669534.0  144.97
 20241129  137.00  139.00  132.39  34306  451049814.0  140.00

 [2307 rows x 6 columns],
 '600029.SH':            open   high    low    close        volume  amount
 20150605  10.58  10.90  10.70  2568698  2.747825e+09   10.38
 20150608  10.80  11.77  11.77  2186970  2.517880e+09   10.70
 20150609  12.30  12.90  12.60  4877624  6.096787e+09   11.77
 20150610  12.20  13.80  12.80  3781366  4.883712e+09   12.60
 20150611  12.50  13.15  12.53  2539722  3.218821e+09   12.80
 ...         ...    ...    ...      ...           ...     ...
 20241125   6.55   6.72   6.47   977977  6.413501e+08    6.58
 20241126   6.48   6.89   6.56  1248801  8.356547e+08    6.47
 20241127   6.60   6.83   6.78  1407677  9.464074e+08    6.56
 20241128   6.76   6.98   6.79   902976  6.152235e+08    6.78
 20241129   6.79   6.81   6.76   830400  5.584185e+08    6.79

 [2307 rows x 6 columns],
 '600983.SH':            open   high    low   close       volume  amount
 20150605  19.35  19.98  19.46  275530  534883043.0   18.81
 20150608  19.38  20.15  19.18  162228  315495024.0   19.46
 20150609  19.21  19.65  19.50  144944  279337375.0   19.18
 20150610  19.36  20.60  20.12  178393  359280432.0   19.50
 20150611  19.81  20.19  20.07  130154  259242706.0   20.12
 ...         ...    ...    ...     ...          ...     ...
 20241125   8.73   8.78   8.76   20459   17823712.0    8.67
 20241126   8.70   9.00   8.83   18090   16051183.0    8.76
 20241127   8.77   9.09   9.05   32393   28793921.0    8.83
 20241128   9.00   9.65   9.40   60437   56613467.0    9.05
 20241129   9.40   9.50   9.34   34189   31803743.0    9.40

 [2307 rows x 6 columns],
 '600446.SH':             open    high     low   close        volume  amount
 20150605  231.00  246.00  230.90   60071  1.407455e+09  228.03
 20150608  225.00  225.00  207.81   68896  1.453165e+09  230.90
 20150609  196.11  213.21  202.00   65327  1.315218e+09  207.81
 20150610  199.30  216.02  208.21   86121  1.743173e+09  202.00
 20150611  207.80  226.34  218.06   66720  1.462240e+09  208.21
 ...          ...     ...     ...     ...           ...     ...
 20241125   15.60   16.18   15.68  345864  5.401203e+08   15.30
 20241126   15.60   15.90   15.48  201026  3.148827e+08   15.68
 20241127   15.43   16.00   16.00  286759  4.468791e+08   15.48
 20241128   16.39   17.60   16.75  539851  9.193252e+08   16.00
 20241129   16.55   17.99   17.49  544352  9.393028e+08   16.75

 [2307 rows x 6 columns],
 '688049.SH':            open   high    low   close       volume  amount
 20150605    NaN    NaN    NaN       0          NaN     NaN
 20150608    NaN    NaN    NaN       0          NaN     NaN
 20150609    NaN    NaN    NaN       0          NaN     NaN
 20150610    NaN    NaN    NaN       0          NaN     NaN
 20150611    NaN    NaN    NaN       0          NaN     NaN
 ...         ...    ...    ...     ...          ...     ...
 20241125  34.82  35.10  34.60   82236  274041894.0   34.95
 20241126  34.59  35.56  34.05   53815  186452248.0   34.60
 20241127  34.00  34.20  33.80   61549  203343272.0   34.05
 20241128  34.11  37.86  36.58  140698  508885371.0   33.80
 20241129  36.03  41.50  39.98  162185  627292917.0   36.58

 [2307 rows x 6 columns],
 '688426.SH':            open   high    low  close      volume  amount
 20150605    NaN    NaN    NaN      0         NaN     NaN
 20150608    NaN    NaN    NaN      0         NaN     NaN
 20150609    NaN    NaN    NaN      0         NaN     NaN
 20150610    NaN    NaN    NaN      0         NaN     NaN
 20150611    NaN    NaN    NaN      0         NaN     NaN
 ...         ...    ...    ...    ...         ...     ...
 20241125  21.34  22.09  21.43  10180  21645868.0   20.90
 20241126  21.68  22.33  21.20  11398  24714222.0   21.43
 20241127  21.01  21.21  21.15  11030  23079245.0   21.20
 20241128  21.10  21.55  21.29   6169  13093285.0   21.15
 20241129  21.65  21.65  21.30   5430  11504443.0   21.29

 [2307 rows x 6 columns],
 '603722.SH':            open   high    low  close      volume  amount
 20150605    NaN    NaN    NaN      0         NaN     NaN
 20150608    NaN    NaN    NaN      0         NaN     NaN
 20150609    NaN    NaN    NaN      0         NaN     NaN
 20150610    NaN    NaN    NaN      0         NaN     NaN
 20150611    NaN    NaN    NaN      0         NaN     NaN
 ...         ...    ...    ...    ...         ...     ...
 20241125  46.30  48.03  47.69  13183  62149596.0   46.08
 20241126  47.56  49.59  47.23  16150  77749888.0   47.69
 20241127  47.45  48.80  48.45  17032  80695817.0   47.23
 20241128  47.98  48.74  47.56   9884  47306008.0   48.45
 20241129  47.56  47.98  46.31  14209  66728599.0   47.56

 [2307 rows x 6 columns],
 '603339.SH':            open   high    low  close       volume  amount
 20150605    NaN    NaN    NaN      0          NaN     NaN
 20150608    NaN    NaN    NaN      0          NaN     NaN
 20150609    NaN    NaN    NaN      0          NaN     NaN
 20150610    NaN    NaN    NaN      0          NaN     NaN
 20150611    NaN    NaN    NaN      0          NaN     NaN
 ...         ...    ...    ...    ...          ...     ...
 20241125  12.41  12.57  12.53  44528   55503773.0   12.46
 20241126  12.49  13.04  12.55  80936  103272475.0   12.53
 20241127  12.35  12.65  12.63  57134   70618764.0   12.55
 20241128  12.63  12.80  12.56  39255   49684679.0   12.63
 20241129  12.60  12.82  12.79  49553   63088232.0   12.56

 [2307 rows x 6 columns],
 '600869.SH':           open  high   low   close       volume  amount
 20150605   NaN   NaN   NaN       0          NaN     NaN
 20150608   NaN   NaN   NaN       0          NaN     NaN
 20150609   NaN   NaN   NaN       0          NaN     NaN
 20150610   NaN   NaN   NaN       0          NaN     NaN
 20150611   NaN   NaN   NaN       0          NaN     NaN
 ...        ...   ...   ...     ...          ...     ...
 20241125  4.67  4.70  4.69  240916  111639350.0    4.64
 20241126  4.68  4.73  4.62  186770   86943317.0    4.69
 20241127  4.61  4.85  4.83  409046  191940208.0    4.62
 20241128  4.80  4.96  4.88  430236  209395671.0    4.83
 20241129  4.90  5.22  5.09  645036  326441471.0    4.88

 [2307 rows x 6 columns],
 '688550.SH':            open   high    low  close       volume  amount
 20150605    NaN    NaN    NaN      0          NaN     NaN
 20150608    NaN    NaN    NaN      0          NaN     NaN
 20150609    NaN    NaN    NaN      0          NaN     NaN
 20150610    NaN    NaN    NaN      0          NaN     NaN
 20150611    NaN    NaN    NaN      0          NaN     NaN
 ...         ...    ...    ...    ...          ...     ...
 20241125  30.78  31.25  31.21  28057   86525637.0   30.50
 20241126  31.16  33.02  31.97  50054  160708410.0   31.21
 20241127  31.65  32.21  32.21  33375  104445897.0   31.97
 20241128  32.21  32.74  31.91  21707   69938830.0   32.21
 20241129  31.80  32.78  32.25  31096  100240141.0   31.91

 [2307 rows x 6 columns],
 '600881.SH':            open   high    low    close        volume  amount
 20150605  15.00  15.25  14.93  1015509  1.520471e+09   14.76
 20150608  15.05  15.18  14.52   925398  1.359281e+09   14.93
 20150609  14.45  14.95  14.56   758929  1.106709e+09   14.52
 20150610  14.51  15.11  14.77   850854  1.256316e+09   14.56
 20150611  14.65  15.88  15.79  1175806  1.793893e+09   14.77
 ...         ...    ...    ...      ...           ...     ...
 20241125   1.79   1.80   1.76   871002  1.521094e+08    1.81
 20241126   1.75   1.81   1.75   640123  1.136349e+08    1.76
 20241127   1.73   1.77   1.77   751031  1.298591e+08    1.75
 20241128   1.78   1.83   1.80   910063  1.643442e+08    1.77
 20241129   1.78   1.84   1.81   850033  1.517530e+08    1.80

 [2307 rows x 6 columns],
 '600530.SH':            open   high    low   close       volume  amount
 20150605  39.00  39.88  38.02  102555  391250913.0   38.56
 20150608  38.80  41.82  41.18  138841  567530998.0   38.02
 20150609  41.20  42.98  40.59   78630  321759998.0   41.18
 20150610  40.00  42.10  40.42   73607  299552914.0   40.59
 20150611  40.38  40.38  40.24   78790  312075200.0   40.42
 ...         ...    ...    ...     ...          ...     ...

5115

In [ ]:
def down(aa):
    print(aa)
    if(aa["finished"]==aa["total"]):
        print("结束了,开始展示")
        data=xtdata.get_market_data(field_list=[], stock_list=[aa["message"]],period="1m",start_time= "20201101",end_time='20201130',fill_data=False)
        print(data)

In [ ]:
from xtquant import xtdata
dd =xtdata.download_history_data2(stock_list=["000002.SZ"], period='1m',callback=down,start_time= "19991101",end_time='20241130', incrementally=True)
dd

In [ ]:
# 增量下载
from xtquant import xtdata
stocks = xtdata.get_stock_list_in_sector('沪深A股')  
#增量下载：
for index,s in enumerate(stocks):
    print(f"s ,{index}/{len(stocks)}")
    xtdata.download_history_data(stock_code=s, period='5m', start_time='',end_time='', incrementally=True)

In [ ]:
from xtquant import xtdata
stocks = xtdata.get_stock_list_in_sector('沪深A股')  
xtdata.download_history_data2(stock_list=stocks, period='1m', start_time='',end_time='', incrementally=True,callback=down1)

In [ ]:
from xtquant import xtdata
stocks = xtdata.get_stock_list_in_sector('沪深A股')  
xtdata.download_history_data2(stock_list=stocks, period='5m', start_time='',end_time='', incrementally=True,callback=down)

In [ ]:
xtdata.download_history_data2(stocks, '5m', '','', incrementally=True)
xtdata.download_history_data2(stocks, '15m', '','', incrementally=True)
xtdata.download_history_data2(stocks, '30m', '','', incrementally=True)

In [ ]:
from xtquant import xtdata
xtdata.get_market_data_ex(
    field_list=[],# 字段
    stock_list=["601318.SH"],# 合约代码列表
    period='1m',# 数据周期——1m、5m、1d、tick
    start_time='20240501',# 数据起始时间%Y%m%d或%Y%m%d%H%M%S
    end_time='20241101',# 数据结束时间%Y%m%d或%Y%m%d%H%M%S
    count=-1, # 数据个数
    dividend_type='none', # 除权方式
    fill_data=False, # 是否填充数据
)

In [ ]:

from xtquant import xtdata
import time


def my_download(stock_list:list,period:str,start_date = '', end_date = ''):
    '''
    用于显示下载进度
    '''
    import string
    
    if "d" in period:
        period = "1d"
    elif "m" in period:
        numb = period.translate(str.maketrans("", "", string.ascii_letters))
        if int(numb) < 5:
            period = "1m"
        else:
            period = "5m"
    elif "tick" == period:
        pass
    else:
        raise KeyboardInterrupt("周期传入错误")


    n = 1
    num = len(stock_list)
    for i in stock_list:
        print(f"当前正在下载 {period} {n}/{num}")
        
        xtdata.download_history_data(i,period,start_date, end_date)
        n += 1
    print("下载任务结束")

def do_subscribe_quote(stock_list:list, period:str):
  for i in stock_list:
    xtdata.subscribe_quote(i,period = period)
  time.sleep(1) # 等待订阅完成

if __name__ == "__main__":

  start_date = ''# 格式"YYYYMMDD"，开始下载的日期，date = ""时全量下载
  end_date = "" 
  period = "1m" 

  need_download = 1  # 取数据是空值时，将need_download赋值为1，确保正确下载了历史数据
  
  code_list = ["000001.SZ", "600519.SH"] # 股票列表

  if need_download: # 判断要不要下载数据, gmd系列函数都是从本地读取历史数据,从服务器订阅获取最新数据
    my_download(code_list, period=period, start_date, end_date)
  
  ############ 仅获取历史行情 #####################
  count = -1 # 设置count参数，使gmd_ex返回全部数据
  data1 = xtdata.get_market_data_ex([],code_list,period = period, start_time = start_date, end_time = end_date)

  ############ 仅获取最新行情 #####################
  do_subscribe_quote(code_list,period)# 设置订阅参数，使gmd_ex取到最新行情
  count = 1 # 设置count参数，使gmd_ex仅返回最新行情数据
  data2 = xtdata.get_market_data_ex([],code_list,period = period, start_time = start_date, end_time = end_date, count = 1) # count 设置为1，使返回值只包含最新行情

  ############ 获取历史行情+最新行情 #####################
  do_subscribe_quote(code_list,period) # 设置订阅参数，使gmd_ex取到最新行情
  count = -1 # 设置count参数，使gmd_ex返回全部数据
  data3 = xtdata.get_market_data_ex([],code_list,period = period, start_time = start_date, end_time = end_date, count = -1) # count 设置为1，使返回值只包含最新行情


  print(data1[code_list[0]].tail())# 行情数据查看
  print(data2[code_list[0]].tail())
  print(data3[code_list[0]].tail())

In [ ]:
# 用前须知

## xtdata提供和MiniQmt的交互接口，本质是和MiniQmt建立连接，由MiniQmt处理行情数据请求，再把结果回传返回到python层。使用的行情服务器以及能获取到的行情数据和MiniQmt是一致的，要检查数据或者切换连接时直接操作MiniQmt即可。

## 对于数据获取接口，使用时需要先确保MiniQmt已有所需要的数据，如果不足可以通过补充数据接口补充，再调用数据获取接口获取。

## 对于订阅接口，直接设置数据回调，数据到来时会由回调返回。订阅接收到的数据一般会保存下来，同种数据不需要再单独补充。

# 代码讲解

# 从本地python导入xtquant库，如果出现报错则说明安装失败
from xtquant import xtdata
import time
import pandas as pd
import backtrader as bt
%matplotlib inline

# 设定一个标的列表
code_list = ["000001.SZ"]
# 设定获取数据的周期
period = '5m'

# # 下载标的行情数据
# if 1:
#     ## 为了方便用户进行数据管理，xtquant的大部分历史数据都是以压缩形式存储在本地的
#     ## 比如行情数据，需要通过download_history_data下载，财务数据需要通过
#     ## 所以在取历史数据之前，我们需要调用数据下载接口，将数据下载到本地
#     for i in code_list:
#         xtdata.download_history_data(i,period=period,incrementally=True) # 增量下载行情数据（开高低收,等等）到本地
    
#     xtdata.download_financial_data(code_list) # 下载财务数据到本地
#     xtdata.download_sector_data() # 下载板块数据到本地
#     # 更多数据的下载方式可以通过数据字典查询

# # 读取本地历史行情数据
# history_data = xtdata.get_market_data_ex([],code_list,period=period,count=-1)
# print(history_data)
# print("=" * 20)

# 如果需要盘中的实时行情，需要向服务器进行订阅后才能获取
# 订阅后，get_market_data函数于get_market_data_ex函数将会自动拼接本地历史行情与服务器实时行情

# 向服务器订阅数据
for i in code_list:
    xtdata.subscribe_quote(i,period=period,count=-1) # 设置count = -1来取到当天所有实时行情

# 等待订阅完成
time.sleep(1)


# # 获取订阅后的行情
kline_data = xtdata.get_market_data_ex([],code_list,period=period,start_time='20240401')

# # 获取订阅后的行情，并以固定间隔进行刷新,预期会循环打印10次
# for i in range(10):
#     # 这边做演示，就用for来循环了，实际使用中可以用while True
#     kline_data = xtdata.get_market_data_ex([],code_list,period=period)
#     print(kline_data)
#     time.sleep(3) # 三秒后再次获取行情

# # 如果不想用固定间隔触发，可以以用订阅后的回调来执行
# # 这种模式下当订阅的callback回调函数将会异步的执行，每当订阅的标的tick发生变化更新，callback回调函数就会被调用一次
# # 本地已有的数据不会触发callback
    
# # 定义的回测函数
#     ## 回调函数中，data是本次触发回调的数据，只有一条
# def f(data):
#     # print(data)
    
#     code_list = list(data.keys())    # 获取到本次触发的标的代码

#     kline_in_callabck = xtdata.get_market_data_ex([],code_list,period = period)    # 在回调中获取klines数据
#     print(kline_in_callabck)

# for i in code_list:
#     xtdata.subscribe_quote(i,period=period,count=-1,callback=f) # 订阅时设定回调函数

# # 使用回调时，必须要同时使用xtdata.run()来阻塞程序，否则程序运行到最后一行就直接结束退出了。
# xtdata.run()

# 将time列转换为pandas的datetime类型
kline_data["000001.SZ"]['stime'] = pd.to_datetime(kline_data["000001.SZ"].index, format='%Y%m%d%H%M%S')

# 设置time列为索引
kline_data["000001.SZ"].set_index('stime', inplace=True)

print(kline_data["000001.SZ"])
kline_data["000001.SZ"].to_csv("000001.csv")
# 创建一个PandasData对象
datafeed = bt.feeds.PandasData(dataname=kline_data["000001.SZ"])

# 创建一个Cerebro引擎
cerebro = bt.Cerebro()
cerebro.adddata(datafeed)

# 运行策略
cerebro.run()

# 可视化结果
cerebro.plot()[0][0]

In [ ]:
kline_data["000001.SZ"].index

In [ ]:
import pandas as  pd
import tushare as ts
from datetime import datetime
import backtrader as bt
import matplotlib
import matplotlib.pyplot as plt
from matlab_utils.utils import set_chinese_font
plt.rcParams['figure.figsize'] = 15, 10
%matplotlib inline
set_chinese_font()
class gloVar:
    buy_count = 0
    sell_count = 0

class Bollstrategy(bt.Strategy):
    def log(self, txt, dt=None):
        dt = dt or self.datas[0].datetime.date(0)
        print('%s,%s' % (dt.isoformat(), txt))

    def __init__(self):
        print("进入__init__")
        # 指定价格序列
        self.dataclose = self.datas[0].close

        #交易订单状态初始化
        self.order = None

        #计算布林线
        ##使用自带的indicators中自带的函数计算出支撑线和压力线，period设置周期，默认是20
        self.lines.top = bt.indicators.BollingerBands(self.datas[0], period=20).top
        self.lines.bot = bt.indicators.BollingerBands(self.datas[0], period=20).bot

    def next(self):
        print("进入next")
        # 检查订单状态
        if self.order:
            print("等待成交")
            return

        # 检查持仓
        if not self.position:
            # 没有持仓，买入开仓
            if self.dataclose <= self.lines.bot[0]:
                print("================")
                print("收盘价跌破lower线，执行买入")
                self.order = self.buy()
        else:
            # 手里有持仓，判断卖平
            if self.dataclose >= self.lines.top[0]:
                print("======================")
                print("收盘价超过upper线，执行卖出")
                self.order = self.sell()

    def notify(self, order):

        if order.status in [order.Submitted, order.Accepted]:
            if order.status in [order.Submitted]:
                self.log("提交订单......")
            if order.status in [order.Accepted]:
                self.log("接受订单......")
            return

        # Check if an order has been completed
        # Attention: broker could reject order if not enougth cash
        if order.status in [order.Completed, order.Canceled, order.Margin]:
            if order.isbuy():
                self.log('执行买入, %.2f' % order.executed.price)
                gloVar.buy_count = gloVar.buy_count + 1
            elif order.issell():
                self.log('执行卖出, %.2f' % order.executed.price)
                gloVar.sell_count = gloVar.sell_count + 1
            self.bar_executed = len(self)

        self.log("订单完成......")
        print("======================")
        # Write down: no pending order
        self.order = None


token = '6aecc221a107b6aa227fb3d1765d85c0eeacfa2a4abf4d6d98b57023'
ts.set_token(token)
pro = ts.pro_api(timeout=60)
# 指定股票代码
ts_code = '000001.SZ'
code = '000001'
start_date = '20200101'
# 获取数据
def get_data(start):
    df = ts.pro_bar(ts_code=ts_code, adj='hfq', start_date=start)
    df = df.iloc[::-1]
    df.index = pd.to_datetime(df.trade_date)
    df['openinterest'] = 0
    df = df[['open', 'high', 'low', 'close', 'vol', 'openinterest']]
    df = df.rename(columns={'vol': 'volume'})
    return df

start_time = '2020-01-01'
accept_date ='2022-12-01'  # 查找这个日期是买入卖出点的股票

#加载数据
start = datetime.strptime(start_time, "%Y-%m-%d")
end = datetime.strptime(accept_date, "%Y-%m-%d")
buy_count = 0   # 买入次数
sell_count = 0   # 卖出次数
k_line_data = get_data(start.date().strftime("%Y%M%D"))
print(k_line_data)
k_line_data.to_csv("Quantative-trading-master\\csvfile\\" + ts_code + ".csv")
data = bt.feeds.PandasData(dataname=k_line_data, fromdate=start, todate=end)

# 加载backtrader引擎
back_trader = bt.Cerebro()
# 将数据传入
back_trader.adddata(data)
# 策略加进来
back_trader.addsizer(bt.sizers.FixedSize, stake=2000)
# 设置以收盘价成交，作弊模式
back_trader.broker.set_coc(True)
# 账号资金初始化
startCash = 100000
back_trader.broker.set_cash(startCash)
# 设置手续费
back_trader.broker.setcommission(commission=0.001)


# 布林线规则：跌破下轨，买入；超过上轨，卖出
back_trader.addstrategy(strategy=Bollstrategy)

# 输出初始化数据
d1 = start.date().strftime("%Y-%m-%d")
d2 = end.date().strftime("%Y-%m-%d")
print(f'初始化资金：{startCash},回测时间：{d1}：{d2}')
# 开启回测
result = back_trader.run()

# Print out the final result
print('最终资金: %.2f' % back_trader.broker.getvalue())
profit_ratio = (int(back_trader.broker.getvalue()) - startCash) / startCash * 100
print('投资收益率: %.2f%%' % profit_ratio)

print('买入次数：%s ；卖出次数：%s' % (gloVar.buy_count, gloVar.sell_count))
print("股票代码：%s" %ts_code)
# Plot the result
# back_trader.plot()
back_trader.plot(style='candlestick')[0][0]  # 画图